*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(148, 136, 136);
}

#navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.logo{
    width: 30%;
}
.logo > img{
    height: 150px;
}

.filter{
    width: 70%;
}
.filter > select{
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    margin-right: 7px;
    font-size: 1rem;
}
